.leaderboard, .topic_name{
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.leaderboard td{
    text-align: left;
}



.profile_image , .profile_image_graph{
    border-radius: 50%; 
    border: 2px solid red; 
}


.graphs-parent {
    display: flex;
    justify-content: center;
}
.graphs {
    width: 60vw;
}

.profile_image {
    margin-right: 1em;
}

.query {
    text-align: left;
}


#sbOne, #sbTwo {
    width: 100%;
}

.leaderboard .links{
    text-decoration: none;
    color: black;
}

.userBox{
   width: 100%;
   display: flex;
   margin: auto;
   text-align: center;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.flex-container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}

.box{
    /* min-height: 490px; */
    margin: 0 1em;
    min-width: 400px;
}

.influence {
    margin: auto;
}

