.leaderboard, .topic_name{
    margin-top: 20px;
    margin-bottom: 20px;
}



.leaderboard td {
    text-align: left;
}

.profile_image {
    border-radius: 50%; 
    border: 2px solid red; 
    margin-right: 1em;
}

.query {
    text-align: left;
}


#sbOne, #sbTwo {
    width: 100%;
}

.leaderboard .links{
    text-decoration: none;
    color: black;
}

.userBox{
    padding-left: 4em;
}
