{% extends 'index.html' %}

{% block head %}
<style>
    .list-flex {
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock %}

{% block body %}

<div class="container">
    <h2 class="text-center" style="padding-top:20px">Please enter your area of interest(s)</h2>
    <br>
    <div class="container jumbotron">
        
        <form  id="queryForm">
            <div class="row">
                
                <div class="col-sm-11">
                    <input class="form-control" name="query" placeholder="Eg. Health Care" type="text" id="query">
                </div>
                <div class="col-sm-1">
                    <input type="submit" value="Add" class="btn btn-primary" id="Add">
                </div>
            </div>

        </form>
    </div>

    
    <ul id="interest" class="list-group">
    </ul>
    <br>
    <button class="btn btn-primary btn-block" type="button" id="final_submit">submit</button>

</div>

<script>
        interestIndex = 0;
       function deleteQuery($context) {
            listId = $context.path[2].id;
            $(`#${listId}`).remove();
       }

        $("#queryForm").submit((event) => {
            interestIndex++;
            event.preventDefault()
            if ($('#query').val().length === 0)
                return;
            $('#interest').append(`

                <li class="list-group-item list-flex" id="list-item-${interestIndex}">
                    <span class="text">${$('#query').val()}</span>
                    <button type="button" class="close" aria-label="Close" onclick="deleteQuery(event)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            `)
            $('#query').val("");
        });

        $('#final_submit').click(function () {
            let interest = []
            // $('#interest')[0].children[0].childNodes[1].innerHTML
            for (var i = 0; i < $('#interest li .text').length; i++) {
                interest.push($('#interest li .text')[i].innerHTML)
            }
            if (interest.length === 0) 
                return;
            $.redirect('http://localhost:8000/addtopics', interest);
        });
</script>

{% endblock %}
